*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
  }

.container{
    height: 100vh;
    width: 100vw;
    border: 1px solid #214f62;
    background-color: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.header{
    height: 20%;
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

.msg{
    height: 60%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

.buttons{
    height: 20%;
    width: 120%;
    border-top: 1px solid gray;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
}

h2{
    background-color: inherit;
}

label{
    width: 100%;
    background-color: inherit;

}

button{
    height: 50%;
    width: 10%;
    border: none;
    border: 2px solid #214f62;
    border-radius: 20%;
    color: white;
    background-color: #214f62;
    cursor: pointer;
}

button:hover{
    color: #214f62;
    background-color: white;
}
